  <tr id="results_header">
      <th>ID</th>
      <th>name</th>
      <th>address</th>
      <th>telephone</th>
  </tr>
<% for (let key of Object.keys(persons)) {

 %>

<tr>
  <td><%= key %></td>
  <td><input type="text" size="30" id="<%= key%>_name" value="<%= persons[key].name %>"></td>
  <td><input type="text" size="30" id="<%= key %>_address" value="<%=  persons[key].address  %>"></td>
  <td><input type="text" size="30" id="<%= key %>_tel" value="<%=  persons[key].tel  %>"></td>
  <td><input type="button" value="Save" onclick="save"></td>
</tr>
<% } %>
